nav {
  background-color: #333;
  color: #fff;
}

ul {
  list-style: none;
  padding: 0;
  margin: 0;
  display: flex;
}

li {
  margin: 0 10px;
}

a {
  text-decoration: none;
  color: #fff;
}

/* Reset some default styles */

body, h1, h2, p, form {
  margin: 0;
  padding: 0;
  font-family: 'Press Start 2P', sans-serif;
  font-size: 12px; /* Adjust the size as needed */
  font-weight: lighter;
  
}


header, footer {
  background-color: #2F244E;
  color: #fff;
  padding: 10px;
}

header h1, footer p {
  text-align: center;
}

main {
  padding: 20px;
}
.column-grid {
  display: grid;
  grid-template-columns: repeat(2, 1fr); /* Create three equal-width columns */
  gap: 20px; /* Add spacing between columns */
}
.staking-form, .staking-info, .withdraw-form{
  background-color: #2F244E;
  border: 1px solid #2F244E;
  color: #fff;
  padding: 10px;
  margin-bottom: 20px;
}

.staking-info{
  text-align: center;
}

form label {
  display: block;
  margin-bottom: 5px;
}

form input[type="number"] {
  width: 50%;
  padding: 8px;
  margin-bottom: 10px;
  border: 1px solid #ccc;
  border-radius: 3px;
}

form button {
  background-color: #01813A;
  color: #fff;
  padding: 8px 15px;
  border: none;
  border-radius: 3px;
  cursor: pointer;
  font-family: 'Press Start 2P', sans-serif;/* Change the font family */
}


form button:hover {
  background-color: #555;
}
