nav {
  background-color: #000;
  color: #fff;
  height: 50px; /* Adjust the height as needed */
  display: flex;
  justify-content: space-between; /* Align logo to the left and menu to the right */
  align-items: center; /* Vertically center logo and menu */
  padding: 10px 20px;

}

.logo img {
  width: 40px; /* Adjust logo width as needed */
  height: auto;
}

.menu {
  list-style: none;
  display: flex;
  margin: 0;
  padding: 0;
}

.menu li {
  margin: 0 10px;
}

.menu a {
  text-decoration: none;
  color: #fff;
}

/* Reset some default styles */

body, h2, p, form {
  margin: 0;
  padding: 0;
  font-family: 'Press Start 2P', sans-serif;
  font-size: 12px; /* Adjust the size as needed */
  font-weight: lighter;
  text-shadow: -2px -2px 0 #000, 2px -2px 0 #000, -2px 2px 0 #000, 2px 2px 0 #000; /* Add the stroke effect */

}

h1 {

  margin: 0;
  padding: 0;
  color: #fff;
  font-family: 'Press Start 2P', sans-serif;
  font-size: 30px; /* Adjust the size as needed */
  font-weight: bold;
  text-shadow: -2px -2px 0 #000, 2px -2px 0 #000, -2px 2px 0 #000, 2px 2px 0 #000; /* Add the stroke effect */

}

header {
  background-image: url("https://ipfs.apillon.io/ipfs/QmPaFkDjvmmKD2sjYdqsBgkdv6myTDavaQ1PwZyN3RBhx8"); /* Replace with your image path */
  background-size: cover; /* Adjust the background size as needed */
  background-position: center center; /* Center the background image */
  color: #fff;
  padding: 20px;
  padding: 80px;
}
footer {
  background-color: #2F244E;
  color: #fff;
  padding: 80px;
}

header h1, footer p {
  text-align: center;
}

main {
  padding: 20px;
}
.column-grid {
  display: grid;
  grid-template-columns: repeat(2, 1fr); /* Create three equal-width columns */
  gap: 20px; /* Add spacing between columns */
}
.staking-form, .staking-info, .withdraw-form, .Claim-form{
  background-color: #2F244E;
  border: 1px solid #2F244E;
  color: #fff;
  padding: 10px;
  margin-bottom: 20px;
}

.staking-info, .Claim-form{
  text-align: center;
}

form label {
  display: block;
  margin-bottom: 5px;
}

form input[type="number"] {
  width: 50%;
  padding: 8px;
  margin-bottom: 10px;
  border: 1px solid #ccc;
  border-radius: 3px;
}

form button {
  background-color: #01813A;
  color: #fff;
  padding: 8px 15px;
  border: none;
  border-radius: 3px;
  cursor: pointer;
  font-family: 'Press Start 2P', sans-serif;/* Change the font family */
}


form button:hover {
  background-color: #555;
}
